@font-face {
  font-family: "fan"; /* Project id 2701600 */
  src: url('//at.alicdn.com/t/font_2701600_loackf4ohps.woff2?t=1629029040203') format('woff2'),
       url('//at.alicdn.com/t/font_2701600_loackf4ohps.woff?t=1629029040203') format('woff'),
       url('//at.alicdn.com/t/font_2701600_loackf4ohps.ttf?t=1629029040203') format('truetype');
}

.fan {
  font-family: "fan" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.son-tuijian:before {
  content: "\e647";
}

.son-xiazai:before {
  content: "\e606";
}

.son-remen:before {
  content: "\e608";
}

.son-close:before {
  content: "\e61d";
}

.son-gonggao:before {
  content: "\e69a";
}

.son-xing:before {
  content: "\e65c";
}

.son-search:before {
  content: "\e614";
}

.son-downs:before {
  content: "\e76e";
}

.son-shuaxin:before {
  content: "\e715";
}

.son-fenlei:before {
  content: "\e69b";
}

.son-fanhui:before {
  content: "\e84f";
}

.son-views:before {
  content: "\e7ab";
}

.son-time:before {
  content: "\e819";
}

.son-kong:before {
  content: "\e6e3";
}

.son-link:before {
  content: "\e772";
}

.son-safe:before {
  content: "\e776";
}

.son-apply:before {
  content: "\e7b4";
}

.son-right:before {
  content: "\e84e";
}

.son-you:before {
  content: "\e6fe";
}

